{% extends "base.html" %}

{% load static %}

{% block content %}  
<div  class="">
    <div class="row">
        <div class="col-3">
<button class="button"><a href="{% url 'add' %}">Add</a></button>
    <br/>
    <br/>
    <ol>
        {% for book in book %}
        <li><strong>BOOK NAME:</strong> {{book.name}}</li>
        <br/>
        <strong>AUTHOR:</strong> {{book.author}}
        <br/>
        <br/>
    <button class="button"><a href="{% url 'update' book.pk %}">Update</a></button>
    <button class="button"><a href="{% url 'delete' book.pk %}">Delete</a></button>
        <hr>
        </li>
        {% endfor %}
    </ol>
    </div>
    <div class="col-5">
       <img src="{% static 'images/bookframe1.jpg' %}" style="width: 100%;border-radius: 10px;" alt="My Image">
    </div>
    </div>  
</div>
{% endblock %}