{% extends "base.html" %}
{% block content %}    
<button style="margin-left: 10px;"><a href="{% url 'add' %}">Add</a></button>
    <br/>
    <br/>
    <ol>
        {% for books in book %}
        <li><strong>BOOK NAME:</strong> {{books.name}}</li>
        <br/>
        <strong>AUTHOR:</strong> {{books.author}}
        <br/>
        <br/>
    <button><a href="{% url 'update' books.pk %}">Update</a></button>
    <button><a href="{% url 'delete' books.pk %}">Delete</a></button>
        <hr>
        </li>
        {% endfor %}
    </ol>
{% endblock %}
